*.DS_Store
*.project
*.settings
*.md.html
*.includepath
*.vagrant
*.pydevproject

# ansible retry files
*.retry

# vim swap files
*.swp

# Python stuff
__pycache__/
*.py[cod]
*$py.class

# Perl stuff
!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip